.navbar-nav > a:hover{
 color: #ffc107 !important;
}

.bgimg{
	background-image: url('image/background.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 880px;
}
.headerset{
	padding-top: 350px;
	box-sizing: border-box;
}
.headerset h2{
	font-size: 42px;
}
.headerset h1{
	font-size: 72px;
}



.services{
	padding: 100px 0px 60px;
	
}
.rowsetting{
	margin: 50px 0px;
}
.rowsetting p{
	padding: 10px;
	color: grey;
}
.rowsetting h2{
	margin-top: 20px;
	font-weight: bold;
	font-size: 16px;
}
.iconsettings{
	border-radius: 50px;
	height: 100px;
	width: 100px;
}
.fa-shopping-cart{
	margin-top: 20px;
}
.fa-tv{
	margin-top: 20px;
}
.fa-lock{
	margin-top: 20px;
}

.portfolio{
	height: 1000px;
	width: 100%;
}

.portsetting{
	margin-top: 50px;
}

.ourteam{
	height: 700px;
	width: 100%;
}

.teamsetting{
	margin-top: 70px;
}
.footer h6{
	line-height: 50px;
}
.footer a{
	text-decoration: none;
}



/*Responsive*/

@media(min-width: 992px ){

}

@media(min-width: 768px) and (max-width: 991px){

}

@media(min-width: 575px) and (max-width: 767px){
.ourteam{
	margin-top: 1850px;
}
.footer{
	margin-top: 650px;
}
}

@media(min-width: 460px) and (max-width: 574px){
.ourteam{
	margin-top: 1300px;
}
.footer{
	margin-top: 650px;
}
}

@media(max-width: 479px){

}